//
// General settings
// --------------------------------------------------

// Breakpoints
$breakpoints: (
  'xs': 480px,
  'sm': 768px,
  'md': 1025px,
  'lg': 1200px,
  'xl': 1400px
);

$bp-menu-collapse: md;

$bp-grid-collapse: sm;
$bp-grid-collapse-lg: lg;

// Transition timing
$transition-time-default: .2s;
$transition-time-medium: .4s;
$transition-time-long: .8s;

// z-index indexes
$z-index: hero, footer, content, content-section, topbar, menu, overlay;

// Sizes & other variables
$container-gutter: 40px;
$container-width-default: 1400px;
$container-width-narrow: 960px;

$section-padding: 120px;
$section-padding-md: 160px;

$grid-gutter: 80px;
$grid-gutter-md: 160px;


$hero-overlap-xs: 60px;
$hero-overlap-md: 100px;

$topbox-overlap-xs: 40px;
$topbox-overlap-md: 170px;

$topbar-height-top: 210px;
$topbar-height-compact: 120px;

$overlap-size: 100px;

$terra-visual-ratio: 395 / 214;

$overlay-bg: rgba($color-primary, .94);
