//
// Colors
// --------------------------------------------------

// Black & White
$color-black: #000;
$color-white: #fff;

// Shades of gray
$color-gray-4: #473d38;
$color-gray-d: #dedede;
$color-gray-f: #f6f5f5;

// Brand colors
$color-primary: #00a65c;

// Content color mapping
$color-content: $color-gray-4;
$color-content-ci: $color-primary;

// Error color
$color-error: #ff0000;
