{{ define "main" }}
  <div class="o-main__content" id="content">
    <section class="o-main__section o-main__section--no-pad o-main__section--bg-primary">
      {{ partial "sections/primary-section.html" . }}
    </section>

    <section class="o-main__section o-main__section--bg-primary" id="team">
      {{ partial "sections/team.html" . }}
    </section>

    <section class="o-main__section" id="neuigkeiten">
      {{ partial "sections/news.html" . }}
    </section>

    <section class="o-main__section o-main__section--no-pad-top o-main__section--bg-white" id="karriere">
      {{ partial "sections/careers.html" . }}
    </section>

    <section class="o-main__section" id="partner-lieferanten">
      {{ partial "sections/partners.html" . }}
    </section>
  </div>
{{ end }}

