{{ define "main" }}
  <div class="o-main__content" id="content">
    <section class="o-main__section o-main__section--bg-light">
      <div class="o-main__visual">
        {{ partial "components/svg" (dict "svg" "terra-bottom") }}
      </div>

      <div class="o-container">
        <h1 class="c-headline c-headline--primary c-headline--with-spacing{{ if .Params.hide_title }} o-main__hidden-headline{{ end }}">{{ .Title }}</h1>

        <div class="o-grid">
          <div class="o-grid__col">
            <div class="o-grid__col-inner o-grid__col-inner--narrow">
              <div class="c-richtext c-richtext--primary{{ if .Params.no_link_style }} c-richtext--no-link-style{{ end }}">
                {{ with .Resources.GetMatch "col1*.md" }}
                  {{ .Content }}
                {{end}}
              </div>
            </div>
          </div>

          <div class="o-grid__col">
            <div class="o-grid__col-inner o-grid__col-inner--narrow">
              <div class="c-richtext c-richtext--primary{{ if .Params.no_link_style }} c-richtext--no-link-style{{ end }}">
                {{ with .Resources.GetMatch "col2*.md" }}
                  {{ .Content }}
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{{ end }}
