{{ define "main" }}
  <div class="o-main__content" id="content">
    <section class="o-main__section o-main__section--no-pad">
      {{ partial "sections/header.html" . }}
    </section>

    <section class="o-main__section">
      <div class="o-main__visual">
        {{ partial "components/svg" (dict "svg" "terra") }}
      </div>

      {{ partial "sections/secondary-section.html" . }}
    </section>

    <section class="o-main__section o-main__section--bg-white" id="referenzen">
      {{ partial "sections/tertiary-section.html" . }}
    </section>
  </div>
{{ end }}



