{{ define "main" }}
<div class="o-container">
  <div id="vue-wrapper"></div>

  <script type="module">
    import { createApp } from "vue";

    const componentName = '{{ index .Params "vue-component" }}';
    
    // Use a static import map that Vite can resolve
    const components = {
      'ClientRequestForm': () => import('/assets/js/vue-pages/ClientRequestForm.vue'),
      'InternRequestForm': () => import('/assets/js/vue-pages/InternRequestForm.vue')
    };
    
    const { default: Component } = await components[componentName]();

    const app = createApp(Component).mount("#vue-wrapper");
  </script>
</div>
{{ end }}
