//
// Scaffolding
// --------------------------------------------------

// sets base font-sizing on html element
@include typi-init;

html {
  box-sizing: border-box;
  text-size-adjust: 100%;

  scroll-behavior: smooth;
  scroll-padding-top: rem($topbar-height-compact);

  @include mappy-bp($bp-menu-collapse) {
    scroll-padding-top: rem($topbar-height-top);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $color-content;
  font-weight: $font-weight-regular;

  // fallback font for initial render to avoid FOIT
  font-family: $font-family-base-fallback;

  // fonts-loaded flag, triggered by JS
  .wf-active & {
    font-family: $font-family-base;
  }
}

::selection {
  background: $color-content-ci;
  color: $color-white;
}

// Ensure elements load hidden before ScrollReveal runs
html.sr [data-reveal] {
  visibility: hidden;
}

.hidden {
  display: none;
}
