{{/* integrate typekit fonts */}}
<script>
  (function(d) {
    var config = {
      kitId: 'mqm5xbo',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

{{/* Google reCAPTCHA */}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<link rel="stylesheet" href="/css/main.min.css"/>
<script src="/head.bundle.js"></script>
