{{/* CookiBot */}}
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2c64c7bf-4512-417f-8cd1-6fd4510d56c2" type="text/javascript" async></script>

{{/* integrate typekit fonts */}}
<script type="text/plain" data-cookieconsent="marketing">
  (function(d) {
    var config = {
      kitId: 'mqm5xbo',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

{{/* Google reCAPTCHA */}}
<script type="text/plain" data-cookieconsent="marketing" src="https://www.google.com/recaptcha/api.js" async defer></script>

<link rel="stylesheet" href="/assets/css/main.scss"/>
<script type="module" src="/assets/js/head.js"></script>
