{{ $baseContext := .baseContext }}

<div class="c-gallery-section{{ if .reverse }} c-gallery-section--reverse{{end }}" id ="{{ .context.Params.anchor }}">
  {{/* Content */}}
  <div class="c-gallery-section__content">
    <div class="o-container o-container--narrow">
      <div class="o-grid">
        {{ if not .reverse }}
          <div class="o-grid__col"></div>
        {{ end }}

        <div class="o-grid__col" data-reveal>
          <div class="c-headline-wrapper c-headline-wrapper--with-spacing">
            <h2 class="c-headline c-headline--padded c-headline--primary">{{ .context.Title }}</h2>
          </div>

          <div class="c-richtext c-gallery-section__text">
            {{ .context.Content }}
          </div>

          {{/* Download */}}
          {{ with .context.Params.download }}
            {{ with $baseContext.Resources.GetMatch . }}
              <a class="c-gallery-section__download" href="{{ .Permalink }}" target="_blank">
                {{ partial "components/svg" (dict "svg" "download") }}
                <h3 class="c-headline c-headline--sm c-headline--padded">{{ .Title }}</h3>
              </a>
            {{ end }}
          {{ end }}
        </div>

        {{ if .reverse }}
          <div class="o-grid__col"></div>
        {{ end }}
      </div>
    </div>
  </div>

  {{/* Gallery */}}
  <div class="c-gallery-section__gallery">
    {{ partial "components/gallery.html" (dict "context" .context "baseContext" .baseContext "reverse" .reverse) }}
  </div>

  {{/* Background SVG */}}
  {{ with .context.Params.background_svg }}
    <div class="c-gallery-section__svg-bg">
      <div class="o-container">
        <div class="c-gallery-section__svg-bg-inner">
          <div class="c-gallery-section__svg-bg-inner2">
            {{ partial "components/svg" (dict "svg" .) }}
          </div>
        </div>
      </div>
    </div>
  {{ end }}

  {{/* Visual */}}
  {{ if and ((isset .context.Params "visual") .context.Params.visual) }}
    {{ $visual_position := .context.Params.visual_position }}
    {{ $visual_direction := .context.Params.visual_direction }}
    <div class="c-gallery-section__visual c-gallery-section__visual--{{ $visual_direction }}">
      {{ with $baseContext.Resources.GetMatch "header.jpg" }}
        {{ $imageSmall := .Fit "800x800" }}

        <img
          alt=""
          src="{{ $imageSmall.RelPermalink }}"
          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-srcset="{{ $imageSmall.RelPermalink }} 800w"
          data-sizes="auto"
          class="c-gallery-section__visual-img lazyload"
          style="object-position: {{ $visual_position }}; transform-origin: {{ $visual_position }};" />
      {{ end }}
    </div>
  {{ end }}
</div>
