<div class="c-gallery swiper-container{{ if .reverse }} c-gallery--reverse{{end }}{{ with .height }} c-gallery--height-{{ . }}{{end }}" data-slider>
  <div class="swiper-wrapper">
    {{ $context := .context }}

    {{ with .gallery }}
      {{ range $context.Resources.Match . }}
        {{ if eq .ResourceType "image" }}
          <div class="swiper-slide" data-title="{{ .Params.title }}">
            <div class="c-gallery__img-wrapper">
              {{ $imageSmall := .Resize "500x" }}
              {{ $imageMedium := .Resize "1000x" }}
              {{ $imageBig := .Resize "2000x" }}

              <img
                alt="{{ .Title }}"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="{{ $imageSmall.RelPermalink }}"
                data-srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 1000w, {{ $imageBig.RelPermalink }} 2000w"
                class="c-gallery__img swiper-lazy" />
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
              </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

  <div class="c-gallery__meta">
    <div class="c-gallery__title" data-slider-title></div>

    <div class="c-gallery__fraction" data-slider-pagination></div>

    <div class="c-gallery__controls">
      <a href="javascript:void(0);" class="c-gallery__control-prev" data-slider-prev>
        {{ partial "components/svg" (dict "svg" "arrow-left") }}
      </a>
      <a href="javascript:void(0);" class="c-gallery__control-next" data-slider-next>
        {{ partial "components/svg" (dict "svg" "arrow-right") }}
      </a>
    </div>
  </div>
</div>
