{{ $baseContext := .baseContext }}

<div class="c-ssb-product-system">
  <div class="o-container">
    <div class="c-ssb-product-system__grid">
      <div class="c-ssb-product-system__col c-ssb-product-system__col--col1" data-reveal>
        {{/* Setup floor */}}
        {{ with .context.Params.system.floor }}
          <div class="c-ssb-product-system__setup c-ssb-product-system__setup--floor">
            <h2 class="c-headline-secondary"><strong>{{ .headline }}</strong></h2>
            <ol>
              {{ range .steps }}
                <li>
                  <span>
                    <strong>{{ .headline }}</strong>
                    {{ with .content }}
                      <br>
                      {{ . }}
                    {{ end }}
                  </span>
                </li>
              {{ end }}
            </ol>

            {{/* Image (svg) */}}
            <div class="c-ssb-product-system__img-wrapper">
              {{ with $baseContext.Resources.GetMatch .image }}
                <img
                  alt="{{ .Title }}"
                  src="{{ .RelPermalink }}"
                  class="c-ssb-product-system__img lazyload" />
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>

      <div class="c-ssb-product-system__col c-ssb-product-system__col--col2" data-reveal>
        {{/* Setup wall */}}
        {{ with .context.Params.system.wall }}
          <div class="c-ssb-product-system__setup c-ssb-product-system__setup--wall">
            <h2 class="c-headline-secondary"><strong>{{ .headline }}</strong></h2>
            <ol>
              {{ range .steps }}
                <li>
                  <span>
                    <strong>{{ .headline }}</strong>
                    {{ with .content }}
                      <br>
                      {{ . }}
                    {{ end }}
                  </span>
                </li>
              {{ end }}
            </ol>

            {{/* Image (svg) */}}
            <div class="c-ssb-product-system__img-wrapper">
              {{ with $baseContext.Resources.GetMatch .image }}
                <img
                  alt="{{ .Title }}"
                  src="{{ .RelPermalink }}"
                  class="c-ssb-product-system__img lazyload" />
              {{ end }}
            </div>
          </div>
        {{ end }}

        {{/* Technical details */}}
        {{ with .context.Params.system.details }}
          <div class="c-ssb-product-system__details">
            <h2 class="c-headline-secondary"><strong>{{ .headline }}</strong></h2>
            <div class="c-richtext">
              {{ .content | markdownify }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
