<div class="c-prktt-naturals-spec">
  <section class="c-prktt-naturals-spec__section c-prktt-naturals-spec__section--format">
    <div class="c-prktt-naturals-spec__section-inner">
      <div class="c-prktt-naturals-spec__icon">
        {{ partial "components/svg" (dict "svg" "landhausdiele" "classes" "c-prktt-naturals-spec__icon-svg") }}
      </div>

      <h3 class="c-prktt-naturals-spec__headline c-headline c-headline--text-sizing-lg">
        Landhausdiele
      </h3>

      <dl class="c-prktt-naturals-spec__spec-list">
        <div class="c-prktt-naturals-spec__spec-item">
          <dt class="c-prktt-naturals-spec__spec-label c-headline c-headline--text-sizing">Format</dt>
          <dd class="c-prktt-naturals-spec__spec-value">15,5 x 240 mm</dd>
        </div>

        <div class="c-prktt-naturals-spec__spec-item">
          <dt class="c-prktt-naturals-spec__spec-label c-headline c-headline--text-sizing">Lange</dt>
          <dd class="c-prktt-naturals-spec__spec-value">600 - 2400 mm</dd>
        </div>

        <div class="c-prktt-naturals-spec__spec-item">
          <dt class="c-prktt-naturals-spec__spec-label c-headline c-headline--text-sizing">Nutzschicht</dt>
          <dd class="c-prktt-naturals-spec__spec-value">ca. 4 mm</dd>
        </div>
      </dl>
    </div>
  </section>

  <section class="c-prktt-naturals-spec__section c-prktt-naturals-spec__section--construction">
    <div class="c-prktt-naturals-spec__section-inner">
      <h3 class="c-prktt-naturals-spec__headline c-headline c-headline--text-sizing-lg">
        Parkettaufbau
      </h3>

      <div class="c-prktt-naturals-spec__construction-graphic">
        {{ partial "components/svg" (dict "svg" "parkettaufbau" "classes" "c-prktt-naturals-spec__construction-svg") }}
        <span class="u-invisible">Parkettaufbau: Nutzschicht 4mm, Multiplex 15,5mm</span>
      </div>
    </div>
  </section>
</div>
