//
// Contactform
// --------------------------------------------------

.c-contactform {
  position: relative;
}

.c-contactform__head {
  margin-bottom: rem(80px);
}

.c-contactform__fields {
  display: grid;
  gap: rem(80px) rem(60px);

  @include mappy-bp(sm) {
    grid-template-columns: 1fr 1fr;

    > * {
      grid-column: 1 / -1;
    }
  }

  legend {
    margin-bottom: rem(40px);
  }
}

.c-contactform__auto-col {
  grid-column: auto;
}

.c-contactform__field {
  & + & {
    margin-top: rem(40px);
  }
}

.c-contactform__privacy {
  margin-top: rem(80px);
  max-width: rem(384px);
  color: rgba($color-content, .3);
  @include typi('richtext-sm');

  a {
    @include font-ci;
    @include font-smoothing;
    color: inherit;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    transition: color $transition-time-default;

    &:hover,
    &:focus {
      color: $color-content;
    }
  }
}

.c-contactform__submit {
  margin-top: rem(80px);
  text-align: right;
}
