//
// Alpha Footer
// --------------------------------------------------

$footer-padding: 100px;

.c-footer-alpha {
  position: relative;
  z-index: index($z-index, footer-alpha);
  padding-top: rem(260px);

  @include mappy-bp(md) {
    padding-top: rem(430px);
  }
}

.c-footer-alpha--plain {
  padding-top: 0;
}

// BG Image
.c-footer-alpha__bg-img-wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5; // < content
  background-color: $color-gray-f;

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.c-footer-alpha__bg-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center; // magic, but it makes sense since the box is very tall on mobile
  transition: all $transition-time-long;

  @include mappy-bp(sm) {
    object-position: center center;
  }

  &.lazyload,
  &.lazyloading {
    opacity: 0;
    transform: scale(1.05);
  }
}

.c-footer-alpha__content {
  position: relative;
  z-index: 10; // > bg image

  background-color: rgba($color-gray-4, .9);
  color: $color-white;
  @include font-smoothing;

  padding-top: rem(80px);
  padding-bottom: rem(30px);

  @include mappy-bp(md) {
    padding-bottom: rem(80px);
  }

  .c-footer-alpha--plain & {
    background-color: $color-gray-4;
  }
}

.c-footer-alpha__top,
.c-footer-alpha__bottom {
  position: relative;
}

// Scroll up
.c-footer-alpha__scroll-up {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15; // > content
  display: none;
  transition: color $transition-time-default;

  height: rem(24px);
  width: rem(15px);

  color: inherit;

  @include mappy-bp($bp-grid-collapse) {
    display: block;
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.c-footer-alpha__bottom {
  .c-footer-alpha__top + & {
    margin-top: rem($grid-gutter);
  }
}

.c-footer-alpha__bottom-inner {
  position: relative;
}

.c-footer-alpha__contact-offbox {
  margin-top: rem(30px);

  @include mappy-bp(sm) {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 5; // < content
  }
}

// Portrait
.c-footer-alpha__portrait-img-wrapper {
  overflow: hidden;
  max-width: 80%;
  margin-left: auto;
}

.c-footer-alpha__portrait-img {
  display: block;
  width: 100%;
  height: auto;
  max-width: rem(400px);
  margin-left: auto;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
    transform: scale(1.05);
  }
}

.c-footer-alpha__contact-bottom {
  margin-top: rem(60px);
}

// Inner grid
.c-footer-alpha__grid-inner {
  @include mappy-bp(xs) {
    display: flex;
    flex-wrap: wrap;
  }

  .c-footer-alpha__grid-inner-col {
    @include mappy-bp(max xs) {
      &:not(:first-of-type) {
        padding-top: rem($grid-gutter);
      }
    }

    @include mappy-bp(xs) {
      width: 50%;
      padding-top: rem($grid-gutter);

      &:nth-child(1),
      &:nth-child(2) {
        padding-top: 0;
      }

      &:nth-child(2n + 1) {
        padding-right: rem($grid-gutter / 4);
      }

      &:nth-child(2n + 2) {
        padding-left: rem($grid-gutter / 4);
      }
    }
  }
}
