//
// Gallery section
// --------------------------------------------------

.c-gallery-section {
  @include mappy-bp($bp-grid-collapse) {
    min-height: rem($gallery-height-sm);
  }
  @include mappy-bp(xl) {
    min-height: rem($gallery-height-xl);
  }

  .o-grid__col {
    padding-top: 0;
  }
}

.c-gallery-section__gallery {
  margin-top: rem(80px);

  background-color: $color-primary;
  width: calc(100% - #{rem($container-gutter)});

  @include mappy-bp($bp-grid-collapse) {
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: calc(50% - #{rem($grid-gutter / 2)});

    .c-gallery-section--reverse & {
      left: auto;
      right: 0;
    }
  }

  @include mappy-bp($bp-grid-collapse-lg) {
    width: calc(50% - #{rem($grid-gutter-md / 2)});
  }
}
