//
// Gallery
// --------------------------------------------------

.c-gallery {
  position: relative;
  height: rem($gallery-height-xs);

  @include mappy-bp($bp-grid-collapse) {
    height: rem($gallery-height-sm);
  }

  @include mappy-bp(xl) {
    height: rem($gallery-height-xl);
  }
}

.c-gallery--height-sm {
  @include mappy-bp($bp-grid-collapse) {
    height: rem($gallery-height-xs);
  }

  @include mappy-bp(xl) {
    height: rem($gallery-height-sm + 50px);
  }
}

.c-gallery__img-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.c-gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: all $transition-time-long;

  &.swiper-lazy-loading {
    opacity: 0;
    transform: scale(1.05);
  }
}

.c-gallery__meta {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10; // > swiper

  background-color: $color-gray-4;
  color: $color-white;
  @include font-smoothing;
  padding: .75em 1em;
  @include typi('gallery-meta');

  display: flex;
  align-items: center;

  .c-gallery--reverse & {
    right: auto;
    left: 0;
  }
}

.c-gallery__title {
  position: absolute;
  right: 100%;
  bottom: 100%;
  background-color: $color-primary;
  padding: .5em;
  transition: opacity $transition-time-medium;

  .c-gallery--reverse & {
    right: auto;
    left: 100%;
  }
}

.c-gallery__controls {
  flex-shrink: 0;
  position: relative;
  display: flex;
  margin-left: 1.25em;
  padding-left: 1.25em;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, .3);
  }
}

.c-gallery__control-prev,
.c-gallery__control-next {
  flex-shrink: 0;
  width: rem(16px);
  height: rem(16px);

  svg {
    width: 100%;
    height: 100%;
  }
}

.c-gallery__control-next {
  margin-left: 1.25em;
}
