//
// Gallery section
// --------------------------------------------------

.c-gallery-section__content,
.c-gallery-section__gallery {
  position: relative;
  z-index: 10; // > svg bg
}

.c-gallery-section {
  position: relative;

  .o-grid__col {
    padding-top: 0;

    display: flex;
    flex-direction: column;

    @include mappy-bp($bp-grid-collapse) {
      min-height: rem($gallery-height-sm);
    }

    @include mappy-bp(xl) {
      min-height: rem($gallery-height-xl);
    }
  }
}

.c-gallery-section__gallery {
  margin-top: rem(80px);

  background-color: $color-primary;
  width: calc(100% - #{rem($container-gutter)});

  .c-gallery-section--reverse & {
    margin-left: auto;
  }

  @include mappy-bp($bp-grid-collapse) {
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: calc(50% - #{rem($grid-gutter / 2)});

    .c-gallery-section--reverse & {
      margin-left: 0;
      left: auto;
      right: 0;
    }
  }

  @include mappy-bp($bp-grid-collapse-lg) {
    width: calc(50% - #{rem($grid-gutter-md / 2)});
  }
}

.c-gallery-section__text {
  flex-grow: 1;
}

.c-gallery-section__download {
  margin-top: rem(30px);
  padding-top: rem(20px);
  display: inline-block;
  position: relative;
  width: rem(45px); // should wrap words at every space

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: rem(1px);
    width: rem(45px);
    background-color: rgba($color-content, .3);
  }

  svg {
    width: rem(45px);
    height: rem(45px);
  }
}

// SVG BG
.c-gallery-section__svg-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: rem(90px);
  z-index: 5; // < all

  @include mappy-bp($bp-grid-collapse) {
    top: auto;
    bottom: 0;
  }

  .o-container {
    @include mappy-bp(max $bp-grid-collapse) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.c-gallery-section__svg-bg-inner {
  @include mappy-bp($bp-grid-collapse) {
    width: calc(50% - #{rem($grid-gutter / 2)});
  }

  @include mappy-bp($bp-grid-collapse-lg) {
    width: calc(50% - #{rem($grid-gutter-md / 2)});
  }
}

.c-gallery-section__svg-bg-inner2 {
  padding-bottom: 359.955 / 614.68 * 100%; // could be changed by inline styles
  overflow: hidden;
  height: 0;
  position: relative;

  svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

// Visual
.c-gallery-section__visual {
  overflow: hidden;

  position: absolute;
  top: calc(100% - #{rem($gallery-height-xs + $grid-gutter / 2)});
  right: 0;
  z-index: 5; // < all

  height: rem(200px);
  width: rem(140px);

  @include mappy-bp($bp-grid-collapse) {
    top: auto;
    bottom: 0;
  }

  @include mappy-bp(xl) { // could be changed to 1900px when brochures are back
    height: rem(400px);
    width: rem(280px);
  }

  .c-gallery-section--reverse & {
    right: auto;
    left: 0;
  }
}

.c-gallery-section__visual--horizontal {
  height: rem(140px);
  width: rem(200px);

  @include mappy-bp(xl) { // could be changed to 1900px when brochures are back
    height: rem(280px);
    width: rem(400px);
  }
}

.c-gallery-section__visual-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all $transition-time-long;
  transform: scale(1.5);

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

