//
// Typography components
// --------------------------------------------------

// Headlines
.c-headline {
  font-weight: 700;
  text-transform: uppercase;
  @include typi('headline--default');
  display: block;

  span.br {
    display: block;
  }

  span.br-md {
    @include mappy-bp(md) {
      display: block;
    }
  }

  strong {
    color: $color-primary;
  }

  &.c-headline--padded {
    background-color: $color-content;
    color: $color-white;
  }

  &:not(.c-headline--body-font) {
    @include font-ci;
    @include font-smoothing;
  }
}

.c-headline--body-font {
  text-transform: none;
}

.c-headline--text-sizing {
  @include typi('richtext');
}

.c-headline--sm {
  @include typi('headline-sm');
}

.c-headline--inline {
  display: inline;
}

.c-headline--with-spacing,
.c-headline-wrapper--with-spacing {
  margin-bottom: rem(30px);

  @include mappy-bp(md) {
    margin-bottom: rem(40px);
  }
}

.c-headline--primary {
  color: $color-primary;

  strong {
    color: $color-content;
  }

  &.c-headline--padded {
    background-color: $color-primary;
    color: $color-white;
  }
}

.c-headline--padded {
  display: inline;
  padding: .3em .3em .15em;
  box-decoration-break: clone;
  line-height: 1.25;
}

// headline-wrapper to workaround numerous limitations with `display: inline;` headlines (needed for box-decoration-break)
.c-headline-wrapper {
  @include typi('headline--default');
  transform: translateY(.15em);
}
