//
// Hero
// --------------------------------------------------

.c-hero {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: index($z-index, hero);
}

// Images
.c-hero__images {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5; // < content
}

.c-hero__img-wrapper {
  overflow: hidden;
  position: absolute;
  background-color: $color-gray-f;
}

.c-hero__img-wrapper--image-1 {
  top: 0;
  left: 0;
  bottom: rem($hero-overlap-xs);
  right: rem($container-gutter);
  z-index: 10; // > header 2

  @include mappy-bp(md) {
    bottom: rem($hero-overlap-md);
    right: calc(50% - #{rem($grid-gutter / 2)});
  }

  @include mappy-bp($bp-grid-collapse-lg) {
    right: calc(50% - #{rem($grid-gutter-md / 2)});
  }
}

.c-hero__img-wrapper--image-2 {
  top: 0;
  bottom: 0;
  right: 0;
  left: rem(80px);
  z-index: 5; // < header 1

  @include mappy-bp(md) {
    left: 32%;
  }
}

.c-hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
    transform: scale(1.05);
  }
}

.c-hero__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: calc(#{rem($topbar-height-compact)} + 8vh);
  z-index: 10; // > images

  @include mappy-bp(md) {
    padding-top: calc(#{rem($topbar-height-top)} + 10vh);
  }
}

.c-hero__content-inner {
  max-width: rem(200px);

  @include mappy-bp(md) {
    max-width: rem(220px);
  }
}
