//
// Hero
// --------------------------------------------------

.c-hero {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
  z-index: index($z-index, hero);
}

.c-hero--with-banner {
  --banner-height: rem($hero-banner-height);

  @include mappy-bp(md) {
    --banner-height: rem($hero-banner-height-md);
  }
}

// Images
.c-hero__images {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 5; // < content
}

.c-hero__img-wrapper {
  overflow: hidden;
  position: absolute;
  background-color: $color-gray-f;
}

.c-hero__img-wrapper--image-1 {
  top: 0;
  left: 0;
  bottom: rem($hero-overlap-xs);
  right: rem($container-gutter);
  z-index: 10; // > header 2

  @include mappy-bp(md) {
    bottom: rem($hero-overlap-md);
    right: calc(50% - #{rem($grid-gutter / 2)});
  }

  @include mappy-bp($bp-grid-collapse-lg) {
    right: calc(50% - #{rem($grid-gutter-md / 2)});
  }
}

.c-hero__img-wrapper--image-2 {
  top: 0;
  bottom: 0;
  right: 0;
  left: rem(80px);
  z-index: 5; // < header 1

  @include mappy-bp(md) {
    left: 32%;
  }
}

.c-hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
    transform: scale(1.05);
  }
}

.c-hero__banner {
  position: absolute;
  top: calc(#{rem($topbar-height-compact)});
  left: 0;
  right: 0;
  z-index: 12; // > content
  overflow: hidden;
  white-space: nowrap;
  height: rem($hero-banner-height);

  background-color: $color-content-ci;
  color: $color-white;
  @include font-smoothing;

  @include mappy-bp(md) {
    height: rem($hero-banner-height-md);
    top: calc(#{rem($topbar-height-top)});
  }

  strong {
    @include font-ci;
    @include font-smoothing;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}

.c-hero__banner-animation {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  animation: marquee 10s linear infinite;

  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-25%); }
}

.c-hero__banner-inner {
  display: flex;
  align-items: baseline;
  gap: .5em;
  padding-right: rem(40px);

  @include mappy-bp(md) {
    padding-right: rem(80px);
  }
}

.c-hero__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* stylelint-disable-next-line length-zero-no-unit */
  padding-top: calc(#{rem($topbar-height-compact)} + 8vh + var(--banner-height, 0px));
  z-index: 10; // > images

  @include mappy-bp(md) {
    /* stylelint-disable-next-line length-zero-no-unit */
    padding-top: calc(#{rem($topbar-height-top)} + 10vh + var(--banner-height, 0px));
  }
}

.c-hero__content-inner {
  max-width: rem(200px);

  @include mappy-bp(md) {
    max-width: rem(220px);
  }
}
