//
// Secondary section
// --------------------------------------------------


.c-secondary-section__content {
  position: relative;
  z-index: 10; // > bg image

  .c-richtext .c-headline:not(:first-child) {
    margin-top: rem($section-padding / 2);
  }

  .o-grid__col {
    .c-secondary-section__col-inner {
      max-width: rem($content-narrow-width);
    }

    @include mappy-bp($bp-grid-collapse) {
      &:nth-child(2n + 2) {
        .c-secondary-section__col-inner {
          margin-left: auto;
          margin-bottom: rem($section-padding);
        }
      }
    }
  }

  .c-richtext ul {
    @extend .c-list-arrowed;
  }
}

.c-secondary-section__col-inner {
  position: relative;
}

// Images
.c-secondary-section__img-box {
  max-width: rem($content-narrow-width);

  @include mappy-bp($bp-grid-collapse) {
    margin-left: auto;
  }
}

.c-secondary-section__img-box--col-1 {
  margin-top: rem($grid-gutter);

  @include mappy-bp($bp-grid-collapse) {
    margin-top: rem($section-padding);
  }
}

.c-secondary-section__img-box--col-2 {
  margin-bottom: rem($grid-gutter);

  @include mappy-bp($bp-grid-collapse) {
    margin-bottom: rem($section-padding);
  }
}

.c-secondary-section__img-wrapper {
  background-color: $color-primary;
  width: 80%;

  .c-secondary-section__img-box--col-1 & {
    margin-left: auto;
  }

  .c-secondary-section__img-box--col-2 & {
    @include mappy-bp($bp-grid-collapse) {
      width: auto;
    }
  }
}

.c-secondary-section__img {
  display: block;
  width: 100%;
  height: auto;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}
