//
// Topbar
// --------------------------------------------------

.c-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: index($z-index, topbar);
  opacity: 0;

  background-color: #fff;

  height: rem($topbar-height-compact);

  @include mappy-bp($bp-menu-collapse) {
    height: rem($topbar-height-top);
  }

  .is-menu-open & {
    @include mappy-bp(max $bp-menu-collapse) {
      background-color: $overlay-bg;
    }
  }

  > .o-container {
    height: 100%;
  }
}

// Headroom modifiers
.c-topbar--headroom-initialized {
  opacity: 1;
  transition-property: all;
  transition-duration: $transition-time-medium;
}

.c-topbar--unpinned {
  transform: translateY(-100%);
  opacity: 0;
}

.c-topbar--compact {
  height: rem($topbar-height-compact);
}


.c-topbar__inner {
  height: 100%;
  display: flex;
  align-items: center;
}

// Menu wrapper
.c-topbar__menu {
  margin-left: auto;
  align-self: flex-end;
  margin-bottom: rem(39px); // magic, aligns with the logo signet bottom edge

  @include mappy-bp($bp-menu-collapse) {
    margin-bottom: rem(69px); // magic, aligns with the logo signet bottom edge
  }
}

// Logo
$logo-ratio: 180 / 130;

.c-topbar__logo {
  flex-shrink: 0;
  margin-right: rem(20px);

  height: rem(80px);
  width: rem(80px * $logo-ratio);
  transition: all $transition-time-medium;

  @include mappy-bp($bp-menu-collapse) {
    height: rem(130px);
    width: rem(130px * $logo-ratio);
  }

  &,
  &:hover,
  &:focus {
    color: $color-primary;
  }

  .c-topbar--compact & {
    height: rem(80px);
    width: rem(80px * $logo-ratio);
  }

  svg {
    display: block;
    height: 100%;
    width: 100%;

    color: inherit;
    transition: $transition-time-medium;

    .is-menu-open & {
      @include mappy-bp(max $bp-menu-collapse) {
        color: $color-white;
      }
    }
  }
}
