{{ define "main" }}
  {{/* Get headless home bundle which holds the content */}}
  {{ with .Site.GetPage "page" "home" }}
    <div class="o-main__content" id="content">
      {{/* Topbox */}}
      <div class="o-main__topbox">
        <div class="c-topbox">
          <div class="c-topbox__visual">
            {{ partial "components/svg" (dict "svg" "terra") }}
          </div>

          <div class="o-container">
            {{/* Content scroll arrow */}}
            <a class="c-topbox__scroll-hint" href="#content" data-scroll-content data-scroll-content-hero>
              {{ partial "components/svg" (dict "svg" "arrow-down") }}
              <span class="u-invisible">Zum Content</span>
            </a>
          </div>
        </div>
      </div>

      {{/* Sections */}}
      {{ $baseContext := . }}
      {{ $sections := .Resources.Match "section-*.md" }}
      {{ range (sort $sections "Name") }}
        <section class="o-main__section {{ .Params.modifiers }}">
          {{ partial "components/gallery-section.html" (dict "context" . "reverse" .Params.reverse "baseContext" $baseContext) }}
        </section>
      {{ end }}
    </div>
  {{ end }}
{{ end }}

