{{/* Set headless footer bundle which holds the footer content */}}
{{ $footer := .Site.GetPage "page" "footer" }}

<footer class="c-footer">
  <div class="o-container">
    <div class="c-footer__inner">
      {{/* Socials */}}
      <div class="c-footer__social">
        {{ partial "components/social-icons" (dict "horizontal" "1") }}
      </div>

      {{/* Meta menu */}}
      <ul class="c-footer__meta">
        <li class="c-footer__meta-item">
          <a class="c-footer__meta-link" href="{{ ref . "agb/index.md" }}">AGB</a>
        </li>
        <li class="c-footer__meta-item">
          <a class="c-footer__meta-link" href="{{ ref . "impressum/index.md" }}">Impressum</a>
        </li>
        <li class="c-footer__meta-item">
          <a class="c-footer__meta-link" href="{{ ref . "datenschutz/index.md" }}">Datenschutz</a>
        </li>
      </ul>

      {{/* Credit */}}
      <div class="c-footer__text c-footer__credit">
        <p>Eine Website von <br /><a href="https://www.formatformat.de" target="_blank">formatformat.de</a></p>
      </div>

      {{/* Toplink */}}
      <a href="#start" class="c-footer__scroll-up">
        {{ partial "components/svg" (dict "svg" "arrow-long") }}
        <span class="u-invisible">Nach oben</span>
      </a>
    </div>
  </div>
</footer>
