{{/* Set headless footer bundle which holds the footer content */}}
{{ $footer := .Site.GetPage "page" "footer" }}

<div class='c-footer-alpha{{ if eq .Params.layout "plain" }} c-footer-alpha--plain{{ end }}'>
  {{/* BG Image */}}
  {{ if ne .Params.layout "plain" }}
    <div class="c-footer-alpha__bg-img-wrapper">
      {{ with $footer.Resources.GetMatch (cond (isset .Params "alternative_footer") "footer_alternative.jpg" "footer.jpg") }}
        {{ $imageSmall := .Resize "500x" }}
        {{ $imageMedium := .Resize "1000x" }}
        {{ $imageBig := .Resize "1500x" }}

        <img
          alt=""
          src="{{ $imageBig.RelPermalink }}"
          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 1000w, {{ $imageBig.RelPermalink }} 1500w"
          data-sizes="auto"
          class="c-footer-alpha__bg-img lazyload" />
      {{ end }}
    </div>
  {{ end }}

  <div class="c-footer-alpha__content" id="kontakt">
    <div class="o-container">
      {{ if ne .Params.layout "plain" }}
        <div class="c-footer-alpha__top">
          <div class="o-grid">
            <div class="o-grid__col">
              <div class="c-richtext c-richtext--inverted-on-dark">
                {{ with cond (isset .Params "alternative_footer") $footer.Params.alpha_headline_alternative $footer.Params.alpha_headline }}
                  <h2 class="c-headline c-headline--text-sizing c-headline--inline">
                    {{ . | markdownify }}
                  </h2>
                {{end}}
              </div>
            </div>
          </div>

          {{/* Toplink */}}
          <a href="#start" class="c-footer-alpha__scroll-up" data-scroll-top>
            {{ partial "components/svg" (dict "svg" "arrow-up") }}
            <span class="u-invisible">Nach oben</span>
          </a>
        </div>
      {{ end }}

      <div class="c-footer-alpha__bottom">
        {{/* Toplink (Plain) */}}
        {{ if eq .Params.layout "plain" }}
          <a href="#start" class="c-footer-alpha__scroll-up" data-scroll-top>
            {{ partial "components/svg" (dict "svg" "arrow-up") }}
            <span class="u-invisible">Nach oben</span>
          </a>
        {{ end }}

        <div class="o-grid">
          <div class="o-grid__col">
            <div class="c-footer-alpha__bottom-inner">
              <div class="c-richtext c-richtext--inverted-on-dark">
                {{ with $footer.Resources.GetMatch "alpha-col1*.md" }}
                  {{ .Content }}
                {{end}}
              </div>

              {{/* Portrait */}}
              <div class="c-footer-alpha__portrait-img-wrapper">
                {{ with $footer.Resources.GetMatch "claus_mueller.jpg" }}
                  {{ $imageSmall := .Resize "500x" }}
                  {{ $imageMedium := .Resize "800x" }}

                  <img
                    alt=""
                    src="{{ $imageMedium.RelPermalink }}"
                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 800w"
                    data-sizes="auto"
                    class="c-footer-alpha__portrait-img lazyload" />
                {{ end }}
              </div>
            </div>
          </div>
          <div class="o-grid__col">
            <div class="c-footer-alpha__bottom-inner">
              <div class="c-richtext c-richtext--inverted-on-dark">
                {{ with $footer.Resources.GetMatch "alpha-col2*.md" }}
                  {{ .Content }}
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
