{{/* Set headless footer bundle which holds the footer content */}}
{{ $footer := .Site.GetPage "page" "footer" }}
{{ $params := .Params }}

<div class='c-footer-alpha{{ if eq .Params.layout "plain" }} c-footer-alpha--plain{{ end }}'>
  {{/* BG Image */}}
  {{ if ne .Params.layout "plain" }}
    <div class="c-footer-alpha__bg-img-wrapper">
      <picture>
        {{ $footerImage := cond (isset .Params "footer_image") .Params.footer_image "footer.jpg" }}
        {{ $footerImage := $footer.Resources.GetMatch $footerImage }}
        {{ with $footerImage }}
          {{ $imageHuge := .Resize "2700x" }}
          {{ $imageBig := .Resize "1500x" }}
          <source
            data-srcset="{{ $imageHuge.RelPermalink }}"
            media="(min-width: 1500px)" />
          <source
            data-srcset="{{ $imageBig.RelPermalink }}"
            media="(min-width: 900px)" />
        {{ end }}

        {{ $footerImage := cond (isset .Params "footer_image_mobile") .Params.footer_image_mobile "footer-mobile.jpg" }}
        {{ $footerImage := $footer.Resources.GetMatch $footerImage }}
        {{ with $footerImage }}
          {{ $imageMobile := .Resize "1000x" }}
          <source
              data-srcset="{{ $imageMobile.RelPermalink }}" />
        {{ end }}

        {{ $footerImage := cond (isset .Params "footer_image") .Params.footer_image "footer.jpg" }}
        {{ $footerImage := $footer.Resources.GetMatch $footerImage }}
        {{ with $footerImage }}
          {{ $imageBig := .Resize "1500x" }}
          <img
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-src="{{ $imageBig.RelPermalink }}"
              class="c-footer-alpha__bg-img lazyload"
              {{ if (isset $params "footer_image_position") }}style="object-position: {{ $params.footer_image_position }}"{{ end }}
              alt="" />
        {{ end }}
      </picture>
    </div>
  {{ end }}

  <div class="c-footer-alpha__content" id="kontakt">
    <div class="o-container">
      <div class="c-footer-alpha__content-inner">
        <h2 class="c-headline-secondary">{{ (cond (isset .Params "footer_headline") .Params.footer_headline $footer.Params.headline) | markdownify }}</h2>
      </div>
    </div>
  </div>
</div>
