<header class="c-header">
  {{ with .Resources.GetMatch "header*.md" }}
    {{/* Image */}}
    <div class="c-header__img-wrapper">
      {{ with $.Resources.GetMatch "header.jpg" }}
        {{ $imageSmall := .Resize "500x" }}
        {{ $imageMedium := .Resize "1000x" }}
        {{ $imageBig := .Resize "2000x" }}

        <img
            alt="Bodenleger Terra Bodenbeläge bei der Parkettverlegung in Freiburg"
            src="{{ $imageSmall.RelPermalink }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 1000w, {{ $imageBig.RelPermalink }} 2000w"
            data-sizes="auto"
            class="c-header__img lazyload" />
      {{ end }}
    </div>

    {{/* Content */}}
    {{ if .Params.headline }}
      <div class="c-header__content">
        <div class="o-container">
          <div class="o-grid">
            <div class="o-grid__col">
              <h2 class="c-headline">{{ .Params.headline | markdownify }}</h2>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  {{ end }}
</header>
