<div class='c-menu' id="menu" data-menu>
  {{/* Menu toggler */}}
  <a href="#main" class="c-menu__toggler" data-menu-toggler>
    {{ partial "components/svg" (dict "svg" "menu") }}
    {{ partial "components/svg" (dict "svg" "close") }}
    <span class="u-invisible">Menü öffnen/schließen</span>
  </a>

  <nav class="c-menu__inner c-menu__container o-container">
    {{/* Menu top */}}
    <ul class="c-menu__top">
      {{ $currentPage := . }}
      {{ range .Site.Menus.top }}
        <li>
          <a class="c-headline c-headline--padded c-headline--primary {{if or ($currentPage.IsMenuCurrent "top" .) ($currentPage.HasMenuCurrent "top" .) }} active{{end}}"
            href="{{ .URL }}"
          >
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>

    {{/* Main menu */}}
    <ul class="c-menu__main" data-menu-main>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li data-menu-item>
          <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
            href="{{ .URL }}"
          >
            {{ .Name }}
          </a>

          {{/* Submenu */}}
          {{ if .HasChildren }}
            <ul class="c-menu__submenu" data-menu-submenu>
              {{ range .Children }}
                <li><a href="{{ .URL }}">{{ .Name | safeHTML }}</a></li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}
    </ul>

    {{/* Social icons */}}
    <div class="c-menu__social">
      {{ partial "components/social-icons" (dict "on-primary" "1") }}
    </div>
  </nav>
</div>
