<div class='c-menu' id="menu" data-menu>
  {{/* Menu toggler */}}
  <a href="#main" class="c-menu__toggler" data-menu-toggler>
    {{ partial "components/svg" (dict "svg" "menu") }}
    {{ partial "components/svg" (dict "svg" "close") }}
    <span class="u-invisible">Menü öffnen/schließen</span>
  </a>

  <nav class="c-menu__inner c-menu__container o-container">
    {{/* Main menu */}}
    <ul class="c-menu__main">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li data-menu-item>
          <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
            href="{{ .URL }}"
            {{ if eq .Identifier "contact" }}data-scroll{{ end }}>
            {{ .Name }}
          </a>

          {{/* Anchor submenu */}}
          {{ $baseUrl := .URL }}
          {{ with .Page }}
            {{ with .Params.anchors }}
              <ul class="c-menu__submenu" data-menu-submenu>
                {{ range . }}
                  <li><a href="{{ $baseUrl }}{{ .target }}" data-scroll>{{ .title }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
          {{ end }}
        </li>
      {{ end }}
    </ul>

    {{/* Social icons */}}
    <div class="c-menu__social">
      {{ partial "components/social-icons" (dict "on-primary" "1") }}
    </div>
  </nav>
</div>
