//
// Button
// --------------------------------------------------

.c-button {
  @include button-reset;

  @include typi('button');
  @include font-ci;
  @include font-smoothing;
  text-transform: uppercase;

  cursor: pointer;
  background-color: $color-content;
  color: $color-white;
  padding: .8em 1.3em;
  transition: background-color $transition-time-default;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $color-content-ci;

    .c-button__icon svg {
      transform: translateX(.2em);
    }
  }
}

.c-button--white {
  background-color: $color-white;
  color: $color-content-ci;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, .8);
  }
}

.c-button--block {
  display: flex;
  width: 100%;
}

.c-button__text {
  @include font-ci-offset;
}

.c-button__icon {
  display: block;
  position: relative;
  flex-shrink: 0;
  margin-left: rem(20px);
  padding-left: rem(20px);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 10%;
    background-color: rgba(255, 255, 255, .3);
    width: 1px;
  }

  svg {
    transition: transform $transition-time-default;
    width: rem(16px);
    height: rem(16px);
  }
}
