//
// Download
// --------------------------------------------------

.c-download {
  display: inline-block;
  position: relative;
  width: rem(45px); // should wrap words at every space
  color: $color-white;
  transition: all $transition-time-default;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  .c-headline {
    color: inherit;
  }

  svg {
    width: rem(45px);
    height: rem(45px);
  }
}
