//
// Floorheating hero
// --------------------------------------------------

.c-headline {
  .layout-floorheating & {
    background-color: transparent;
  }
}

.c-floorheating-hero-text {
  background-color: $color-primary;
  display: inline-block;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  padding: rem(4px) rem(10px);
  text-transform: none;

  strong {
    color: $color-white;
    font-family: $font-family-ci;
  }
}

.c-floorheating-hero-text__subtitle {
  background-color: $color-white;
  color: $color-primary;
  line-height: 1.25;
  margin-top: rem(8px);

  strong {
    color: $color-primary;
  }
}
