//
// Alpha Footer
// --------------------------------------------------

.c-footer-alpha {
  position: relative;
  z-index: index($z-index, footer-alpha);
  padding-top: rem(320px);

  @include mappy-bp(md) {
    padding-top: rem(561px);
  }
}

.c-footer-alpha--plain {
  padding-top: 0;
}

// BG Image
.c-footer-alpha__bg-img-wrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5; // < content
  background-color: $color-gray-f;

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.c-footer-alpha__bg-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center; // magic, but it makes sense since the box is very tall on mobile
  transition: all $transition-time-long;

  @include mappy-bp(sm) {
    object-position: center center;
  }

  &.lazyload,
  &.lazyloading {
    opacity: 0;
    transform: scale(1.05);
  }
}

.c-footer-alpha__content {
  position: relative;
  z-index: 10; // > bg image

  background-color: rgba($color-gray-4, .9);
  color: $color-white;
  @include font-smoothing;

  padding-top: rem(80px);
  padding-bottom: rem(80px);

  .c-footer-alpha--plain & {
    background-color: $color-gray-4;
  }
}

.c-footer-alpha__content-inner {
  max-width: rem(500px);

  .c-headline-secondary {
    color: $color-primary;
  }
}
