//
// Footer
// --------------------------------------------------

@use "sass:math";

$footer-padding: 100px;

.c-footer {
  position: relative;
  z-index: index($z-index, footer);

  @include mappy-bp(sm) {
    // Workaround for flexbug #3
    display: flex;
    flex-direction: column;

    > * {
      width: 100%;
    }
  }
}

.c-footer__flexbug-wrapper {
  @include mappy-bp(sm) {
    min-height: rem(800px);
    display: flex;

    > * {
      width: 100%;
    }
  }

  @include mappy-bp(md) {
    min-height: rem(820px);
  }

  @include mappy-bp(lg) {
    min-height: rem(840px);
  }
}

.c-footer__content {
  background-color: $color-gray-4;
  color: $color-white;
  @include font-smoothing;

  padding-top: rem(60px);
  padding-bottom: rem(60px);

  @include mappy-bp(sm) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    > * {
      width: 100%;
    }
  }

  @include mappy-bp(md) {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }
}

.c-footer__meta {
  margin-top: rem(4px);
  padding-right: rem(30px);

  @include mappy-bp(sm) {
    padding-right: 0;
  }
}

.c-footer__meta-item {
  & + & {
    margin-top: rem(4px);
  }
}

.c-footer__meta-link {
  color: rgba(255, 255, 255, .3);
  transition: color $transition-time-default;

  &:hover,
  &:focus,
  &.active {
    color: $color-primary;
  }
}

.c-footer__inner {
  position: relative;
}

// Scroll up
.c-footer__scroll-up {
  position: absolute;
  right: 0;
  top: rem(5px); // horrible magic number to top-align this with the text
  display: block;
  transition: color $transition-time-default;

  height: rem(24px);
  width: rem(15px);

  color: inherit;

  @include mappy-bp($bp-grid-collapse) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}


// Map
.c-footer__map {
  height: rem(260px);
  background-color: $color-gray-f;

  @include mappy-bp($bp-grid-collapse) {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: calc(50% - #{rem(math.div($grid-gutter, 2))});
  }

  @include mappy-bp($bp-grid-collapse-lg) {
    width: calc(50% - #{rem(math.div($grid-gutter-md, 2))});
  }

  #footer-map {
    height: 100%;
    width: 100%;
  }
}


// Social icons
.c-footer__social {
  margin-bottom: rem(72px);
}
