//
// Footer
// --------------------------------------------------

.c-footer {
  position: relative;
  z-index: index($z-index, footer);

  background-color: $color-gray-4;
  color: $color-white;
  @include font-smoothing;

  padding-top: rem(60px);
  padding-bottom: rem(80px);

  @include mappy-bp(md) {
    padding-top: rem(160px);
  }
}

// General small footer text
.c-footer__text {
  @include typi("footer-text");

  strong {
    font-weight: 700;
  }
}

.c-footer__inner {
  position: relative;
  display: grid;
  align-items: end;
  grid-template-columns: 106px 1fr;
  column-gap: rem(24px);
  row-gap: rem(56px);

  @include mappy-bp(sm) {
    grid-template-columns: auto auto auto;
    grid-auto-flow: row dense;
  }
}

// Social icons
.c-footer__social {
  grid-column: span 2;

  @include mappy-bp(sm) {
    grid-column: 2;
  }
}

// Meta nav
.c-footer__meta {
  @include typi("footer-text");

  @include mappy-bp(sm) {
    grid-column: 1;
    margin-bottom: rem(-6px);
  }

  @include mappy-bp(md) {
    margin-bottom: rem(-10px);
  }
}

.c-footer__meta-link,
.c-footer__text a {
  @include typi("footer-text");
  display: inline-block;
  color: white;
  transition: color $transition-time-default;

  &:hover,
  &:focus,
  &.active {
    color: $color-primary;
  }
}

// Credit
.c-footer__credit {
  @include mappy-bp(sm) {
    margin-bottom: rem(-6px);
  }

  @include mappy-bp(md) {
    margin-bottom: rem(-10px);
  }
}

// Scroll up
.c-footer__scroll-up {
  position: absolute;
  right: 0;
  bottom: rem(6px); // horrible magic number to top-align this with the text
  display: block;
  transition: color $transition-time-default;

  height: rem(72px);
  width: rem(16px);

  color: inherit;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  svg {
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
  }

  @include mappy-bp(sm) {
    bottom: 0;
  }
}
