//
// Menu
// --------------------------------------------------

@use "sass:math";

// Hover padding around menu
@include mappy-bp($bp-menu-collapse) {
  .c-menu {
    position: relative;
  }
}

.c-menu__toggler {
  display: block;
  position: relative;
  width: rem(22px);
  height: rem(22px);

  @include mappy-bp($bp-menu-collapse) {
    display: none;
  }

  svg {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;

    transform: translate3d(0, 0, 0);

    .c-topbar--headroom-initialized & {
      transition: all $transition-time-default;
    }

    // burger
    &:first-of-type {
      .is-open & {
        transform: scale(0.75);
        opacity: 0;
      }
    }

    // close
    &:last-of-type {
      transform: scale(0.75);
      opacity: 0;

      .is-open & {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.c-menu__inner {
  position: absolute;
  z-index: index($z-index, menu);
  left: 0;
  right: 0;
  top: 100%;
  height: calc(100vh - 100%); // viewport height - topbar height
  background-color: $overlay-bg;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: rem(50px);
  padding-bottom: rem(50px);

  visibility: hidden;
  opacity: 0;
  transition: opacity, visibility;
  transition-duration: $transition-time-medium;

  .is-open & {
    opacity: 1;
    visibility: visible;
  }

  @include mappy-bp($bp-menu-collapse) {
    opacity: 1;
    visibility: visible;
    position: static;
    background-color: transparent;
    height: auto;
    overflow: visible;
    padding: 0;
  }
}

.c-menu__top {
  margin-bottom: rem(50px);

  @include mappy-bp($bp-menu-collapse) {
    display: flex;
    justify-content: end;
    margin-bottom: rem(60px);
  }

  a {
    font-size: rem(13px);
  }
}

.c-menu__main {
  @include mappy-bp($bp-menu-collapse) {
    display: flex;
  }

  li {
    position: relative;
  }

  > li:not(:last-child) {
    margin-bottom: rem(50px);

    @include mappy-bp($bp-menu-collapse) {
      margin-bottom: 0;
    }
  }

  > li {
    @include mappy-bp($bp-menu-collapse) {
      &::after {
        content: "";
        background-color: $color-gray-d;
        position: absolute;
        right: rem(20px);
        top: 0;
        height: 1em;
        width: 1px;
      }

      svg {
        display: block;
      }

      > a {
        padding-right: rem(40px);
      }
    }

    @include mappy-bp(lg) {
      &::after {
        right: rem(30px);
      }

      > a {
        padding-right: rem(60px);
      }
    }

    @include mappy-bp(xl) {
      &::after {
        right: rem(40px);
      }

      > a {
        padding-right: rem(80px);
      }
    }

    &:last-child {
      @include mappy-bp($bp-menu-collapse) {
        &::after {
          right: 0;
        }

        > a {
          padding-right: rem(20px);
        }
      }

      @include mappy-bp(lg) {
        > a {
          padding-right: rem(30px);
        }
      }

      @include mappy-bp(xl) {
        > a {
          padding-right: rem(40px);
        }
      }

      .c-menu__submenu {
        @include mappy-bp($bp-menu-collapse) {
          width: calc(var(--item-width) * 1px);

          @include mappy-bp(lg) {
            width: calc(var(--item-width) * 1px);
          }

          @include mappy-bp(xl) {
            width: calc(var(--item-width) * 1px);
          }
        }
      }
    }
  }

  > li > a {
    display: flex;
    align-items: baseline;

    @include typi("menu");
    @include font-ci;
    text-transform: uppercase;
    @include font-smoothing;
    color: inherit;

    @include mappy-bp($bp-menu-collapse) {
      white-space: nowrap;

      .c-topbar--headroom-initialized & {
        transition: color $transition-time-default;
      }
    }

    &:hover,
    &:focus,
    &.active {
      color: inherit;

      @include mappy-bp($bp-menu-collapse) {
        color: $color-primary;
      }
    }

    svg {
      margin-left: rem(10px);
      display: block;
      height: rem(12px);
      width: rem(12px);
    }
  }
}

$submenu-desktop-top-space: 28px;
$submenu-desktop-padding: 12px;

.c-menu__submenu {
  margin-top: rem(15px);

  @include mappy-bp($bp-menu-collapse) {
    display: none;
    margin-top: 0;
    margin-bottom: rem(80px);
    padding-top: rem($submenu-desktop-top-space);
    padding-right: rem($submenu-desktop-padding);
    position: relative;
    width: calc(var(--item-width) * 1px - 20px);

    @include mappy-bp(lg) {
      width: calc(var(--item-width) * 1px - 30px);
    }

    @include mappy-bp(xl) {
      width: calc(var(--item-width) * 1px - 40px);
    }

    .is-submenu-open & {
      display: block;
    }

    &::after {
      content: "";
      background-color: $color-gray-d;
      position: absolute;
      right: 0;
      top: rem($submenu-desktop-top-space);
      bottom: 0;
      width: 1px;
    }
  }

  > li + li {
    margin-top: rem(10px);
  }

  a {
    @include typi("menu-sub");

    @include mappy-bp(max $bp-menu-collapse) {
      font-weight: 400;
      color: $color-white;
    }

    @include mappy-bp($bp-menu-collapse) {
      color: inherit;
      transition: color $transition-time-default;
    }

    &:hover,
    &:focus,
    &.active {
      color: $color-white;

      @include mappy-bp($bp-menu-collapse) {
        color: $color-primary;
      }
    }
  }
}

// Social icons
.c-menu__social {
  margin-top: rem(60px);

  @include mappy-bp($bp-menu-collapse) {
    display: none;
  }
}
