.c-prktt-overview__content {
  .c-richtext {
    ul {
      @extend .c-list-arrowed;
        margin-bottom: rem(40px);

      @include mappy-bp($bp-grid-collapse) {
        margin-bottom: rem(70px);
      }
    }

    strong {
      color: inherit;
    }
  }

  .c-headline-secondary {
    color: $color-primary;
  }
}

.c-prktt-overview__col-narrow {
  .c-prktt-overview__col-inner {
    max-width: rem($content-narrow-width);
  }

  @include mappy-bp($bp-grid-collapse) {
    &:nth-child(2n + 1) {
      .c-prktt-overview__col-inner {
        margin-left: auto;
      }
    }
  }
}

.c-prktt-overview__col-inner {
  position: relative;
}

.o-grid__col.c-prktt-overview__col-content {
  @include mappy-bp($bp-grid-collapse) {
    padding-top: rem($grid-gutter-md);
  }
}
