//
// Richtext
// --------------------------------------------------

.c-richtext {
  @include typi(richtext);
  color: $color-content;

  img {
    max-width: 100%;
    height: auto;
    display: block;

    &:not(:last-child) {
      margin-bottom: 4em;
    }

    &:not(:first-child) {
      margin-top: 4em;
    }
  }

  strong {
    color: $color-primary;
    font-weight: $font-weight-bold;
  }

  p {
    margin-bottom: 0;
  }

  p,
  table,
  .c-headline {
    &:not(:last-child) {
      margin-bottom: rem(30px);
    }

    &:not(:first-child) {
      margin-top: rem(30px);
    }
  }

  figure {
    &:not(:last-child) {
      margin-bottom: rem($grid-gutter);
    }

    &:not(:first-child) {
      margin-top: rem($grid-gutter);
    }
  }

  h1:not([class*="c-headline"]) {
    @extend .c-headline;
  }

  h2:not([class*="c-headline"]) {
    @extend .c-headline;
    @extend .c-headline--primary;
    @extend .c-headline--text-sizing;
  }

  h3:not([class*="c-headline"]) {
    @extend .c-headline;
    @extend .c-headline--text-sizing;

    + p:not(:first-child) {
      margin-top: rem(-30px);
    }
  }

  .c-headline--no-spacing {
    + p:not(:first-child) {
      margin-top: rem(-30px);
    }
  }

  a {
    color: $color-primary;
    transition: all $transition-time-default;

    &:hover,
    &:focus {
      color: inherit;
    }
  }

  em {
    color: $color-primary;
  }

  ul {
    list-style: inherit;
    padding-left: 1em;
  }


  ul.c-list-arrowed {
    padding-left: 0;

    li {
      display: flex;

      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.756 10.066'%3E%3Cg fill='none' stroke='%23473d38' stroke-miterlimit='10'%3E%3Cpath d='M0 5.033h15.05M10.38.353l4.67 4.68-4.67 4.68'/%3E%3C/g%3E%3C/svg%3E");
        display: block; // IE 11
        margin-right: rem(15px);
        width: rem(15px);
        height: rem(10px);
        flex-shrink: 0;
      }
    }

    li + li {
      margin-top: rem(20px);
    }
  }
}

.c-richtext--inverted-on-dark {
  &,
  a {
    color: $color-white;
    @include font-smoothing;
  }

  a:hover,
  a:focus {
    color: $color-primary;
  }

  strong,
  em {
    color: $color-primary;
  }
}

.c-richtext--inverted {
  &,
  a {
    color: $color-white;
    @include font-smoothing;
  }

  a:hover,
  a:focus {
    color: $color-white;
  }

  strong,
  em {
    color: $color-white;
  }
}

.c-richtext--no-link-style {
  a {
    color: inherit;
  }
}

.c-richtext--lg {
  @include typi(richtext-lg);
}


.c-richtext--sm {
  @include typi(richtext-sm);
}
