//
// Slider Beta
// --------------------------------------------------

$slider-beta-height-xs: 290px;
$slider-beta-height-sm: 440px;
$slider-beta-height-lg: 872px;

.c-slider-beta {
  position: relative;
}

.c-slider-beta__container-inner {
  position: relative;
}

.c-slider-beta__slider {
  height: rem($slider-beta-height-xs);

  @include mappy-bp(sm) {
    height: rem($slider-beta-height-sm);
  }

  @include mappy-bp(lg) {
    height: rem($slider-beta-height-lg);
  }

  & .swiper-slide {
    max-width: rem($container-width-default);
  }
}

.c-slider-beta__img-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.c-slider-beta__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: all $transition-time-long;

  &.swiper-lazy-loading {
    opacity: 0;
    transform: scale(1.05);
  }
}

.c-slider-beta__control-prev,
.c-slider-beta__control-next {
  position: absolute;
  top: rem($slider-beta-height-xs * 0.5);
  transform: translateY(-50%);
  z-index: 10; // > swiper

  width: rem(42px);

  @include mappy-bp(sm) {
    top: rem($slider-beta-height-sm * 0.5);
    width: rem(60px);
  }

  @include mappy-bp(lg) {
    top: rem($slider-beta-height-lg * 0.5);
    width: rem(70px);
  }

  svg {
    color: $color-white;
    width: 100%;
    height: auto;
  }
}

.c-slider-beta__control-prev {
  left: rem(15px);

  @include mappy-bp(sm) {
    left: rem(20px);
  }

  @include mappy-bp(lg) {
    left: rem(40px);
  }
}

.c-slider-beta__control-next {
  right: rem(15px);

  @include mappy-bp(sm) {
    right: rem(20px);
  }

  @include mappy-bp(lg) {
    right: rem(40px);
  }
}
