//
// Social icons
// --------------------------------------------------

.c-social-icons {
  list-style: none;

  li + li {
    margin-top: rem(40px);
  }

  a {
    display: inline-block;
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.c-social-icons--horizontal {
  display: flex;

  li + li {
    margin-top: 0;
    margin-left: rem(40px);
  }
}

.c-social-icons__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(40px);
  width: rem(40px);
  background-color: $color-content-ci;

  @include mappy-bp(md) {
    height: rem(45px);
    width: rem(45px);
  }

  .c-social-icons--on-primary & {
    background-color: $color-content;
    color: $color-white;
  }

  svg {
    height: 50%;
    width: 50%;
  }
}
