//
// Topbar
// --------------------------------------------------

@use "sass:math";

.c-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: index($z-index, topbar);
  opacity: 1;

  background-color: $color-white;

  height: rem($topbar-height-compact);

  @include mappy-bp($bp-menu-collapse) {
    min-height: rem($topbar-height-top);
    height: auto;
  }

  .is-menu-open & {
    @include mappy-bp(max $bp-menu-collapse) {
      background-color: $overlay-bg;
    }
  }

  > .o-container {
    height: 100%;

    @include mappy-bp($bp-menu-collapse) {
      height: auto;
      position: relative;
      z-index: 10;
    }
  }
}

// Headroom modifiers
.c-topbar--headroom-initialized {
  opacity: 1;
  transition-property: all;
  transition-duration: $transition-time-medium;
}

.c-topbar--unpinned {
  transform: translateY(-100%);
  opacity: 0;
}

.c-topbar__inner {
  height: 100%;
  display: flex;
  align-items: center;

  @include mappy-bp($bp-menu-collapse) {
    align-items: flex-start;
  }
}

// Menu wrapper
.c-topbar__menu {
  margin-left: auto;
  align-self: flex-end;
  margin-bottom: rem(39px); // magic, aligns with the logo signet bottom edge

  @include mappy-bp($bp-menu-collapse) {
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: rem(40px); // magic, aligns with the logo signet top edge
  }
}

// Logo
$logo-ratio: math.div(180, 130);

.c-topbar__logo {
  flex-shrink: 0;
  margin-right: rem(20px);

  height: rem(80px);
  width: rem(80px * $logo-ratio);
  transition-duration: $transition-time-medium;
  transition-property: width, height;

  @include mappy-bp($bp-menu-collapse) {
    height: rem(130px);
    width: rem(130px * $logo-ratio);
    margin-top: rem(($topbar-height-top - 130px) * 0.5);
  }

  &,
  &:hover,
  &:focus {
    color: $color-primary;
  }

  svg {
    display: block;
    height: 100%;
    width: 100%;

    color: inherit;

    .is-menu-open & {
      @include mappy-bp(max $bp-menu-collapse) {
        color: $color-white;
      }
    }
  }
}
