//
// Layout
// --------------------------------------------------

.o-pagelayout {
  background-color: $color-gray-f;
}

// Main (content wrapper)
.o-main {
  padding-top: calc(100vh - #{rem($hero-overlap-xs)}); // match fixed hero

  @include mappy-bp(md) {
    padding-top: calc(100vh - #{rem($hero-overlap-md)}); // match fixed hero
  }
}

.o-main__topbox {
  margin-bottom: rem(-$topbox-overlap-xs);

  @include mappy-bp(md) {
    margin-bottom: rem(-$topbox-overlap-md);
  }
}

.o-main__content {
  position: relative;
  z-index: index($z-index, content);
}

// default section
.o-main__section {
  position: relative;
  z-index: index($z-index, content-section);
  @include section-padding;

  > * {
    position: relative;
  }

  // bg
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: $color-gray-f;
  }
}

.o-main__section--after-topbox {
  &::before {
    top: rem($topbox-overlap-xs);

    @include mappy-bp(md) {
      top: rem($topbox-overlap-md);
    }
  }
}

// no pad
.o-main__section--no-pad {
  padding-top: 0;
  padding-bottom: 0;
}

.o-main__section--no-pad-top {
  padding-top: 0;
}

// overlaps
.o-main__section--overlap-top {
  &::before {
    top: rem(-$overlap-size);
  }
}

.o-main__section--overlap-bottom {
  &::before {
    bottom: rem(-$overlap-size);
  }
}
