//
// Layout
// --------------------------------------------------

.o-pagelayout {
  background-color: $color-gray-f;
}

// Main (content wrapper)
.o-main:not(.o-main--hero) {
  padding-top: rem($topbar-height-compact);

  @include mappy-bp($bp-menu-collapse) {
    padding-top: rem($topbar-height-top);
  }
}

.o-main--hero {
  padding-top: calc(100vh - #{rem($hero-overlap-xs)}); // match fixed hero

  @include mappy-bp(md) {
    padding-top: calc(100vh - #{rem($hero-overlap-md)}); // match fixed hero
  }
}

.o-main__topbox {
  margin-bottom: rem(-$topbox-overlap-xs);

  @include mappy-bp(md) {
    margin-bottom: rem(-$topbox-overlap-md);
  }
}

.o-main__content {
  position: relative;
  z-index: index($z-index, content);
}

// default section
.o-main__section {
  position: relative;
  z-index: index($z-index, content-section);
  @include section-padding;

  > * {
    position: relative;
  }

  // bg
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: $color-gray-f;
  }
}

.o-main__section--after-topbox {
  &::before {
    top: rem($topbox-overlap-xs);

    @include mappy-bp(md) {
      top: rem($topbox-overlap-md);
    }
  }
}

.o-main__section--bg-primary {
  color: $color-white;
  @include font-smoothing;

  &::before {
    background-color: $color-primary;
  }
}

// Visual
.o-main__section--visual {
  .o-main__visual {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: rem(214px * $terra-visual-ratio);
    max-width: 100%;

    @include mappy-bp(sm) {
      width: rem(300px * $terra-visual-ratio);
    }

    @include mappy-bp(md) {
      width: rem(489px * $terra-visual-ratio);
    }

    svg {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

// no pad
.o-main__section--no-pad {
  padding-top: 0;
  padding-bottom: 0;
}

.o-main__section--no-pad-top {
  padding-top: 0;
}

.o-main__section--no-pad-bottom-md {
  @include mappy-bp($bp-grid-collapse) {
    padding-bottom: 0;
  }
}

// clips
.o-main__section--clip-1 {
  &::before {
    clip-path: polygon(100% 30%, 75% 30%, 75% 100%, 0 100%, 0 0, 100% 0);
  }
}

// overlaps
.o-main__section--overlap-top {
  &::before {
    top: rem(-$overlap-size);
  }
}

.o-main__section--overlap-bottom {
  &::before {
    bottom: rem(-$overlap-size);
  }
}
